<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302487623650-7n10k2qti4006nbjdrmq3ksnue7j0ojt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302487623650-7n10k2qti4006nbjdrmq3ksnue7j0ojt</string>
	<key>API_KEY</key>
	<string>AIzaSyDaNL30Knxdv82qZFTOUgF5nb52lfTpmSA</string>
	<key>GCM_SENDER_ID</key>
	<string>302487623650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonsemenov.todonative</string>
	<key>PROJECT_ID</key>
	<string>popping-torch-8030</string>
	<key>STORAGE_BUCKET</key>
	<string>popping-torch-8030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302487623650:ios:1ba9432106c17b27</string>
	<key>DATABASE_URL</key>
	<string>https://popping-torch-8030.firebaseio.com</string>
</dict>
</plist>